@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(41, 41, 41);
    font-family: 'Montserrat';
}
 nav{
     display: flex;
     width: 100%;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     font-family:'Montserrat';
     background-color: rgb(188, 225, 224);
     
 }
 .logo{
     font-size: 35px;
 }
 .nav_links{
     display: flex;
     justify-content: space-around;
     width: 30%;
 }
 .nav_links a{
     text-decoration: none;
     font-size: 25px;
     color: rgb(41, 41, 41);
 }
 .nav_links a:hover{

    
    color: rgb(255, 255, 255);
}
 .nav_links li{
     list-style:none;
 }
 .burger{
     display: none;
}
 .burger div {
     width: 25px;
     height: 2px;
     background-color: rgb(41, 41, 41);
     margin: 4px;
     transition: all 0.3s ease;
 }
 .on{
    color:rgb(255, 255, 255);
}

.container{
    padding:50px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    background-color: azure;
    align-content: center;
}
.about{
    justify-items:center;
    font-size: 20px;
}


 @media screen and (max-width:768px){
     body{
         overflow-x: hidden;
     }
  
     .nav_links{
         position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         width: 50%;
         background-color:rgb(188, 225, 224);
         display: flex;
         flex-direction: column;
         align-items: center;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
        
     }
     .burger{
         display: block;
         cursor: pointer;
         
     }
     .nav_links li{
        opacity: 0;
     }
     .container{
         top: 80%;
         z-index: -1;

     }
     
    }

    @media screen and (max-width:375px){
        .container{
            top: 90%;
        }
        .about{
            font-size: 10px;
        }
        h1{
            font-size: 20px;
        }
    }

 .nav-active{
     transform: translateX(0%);
     
 }
 @keyframes navLinkFade{
     from{
         opacity: 0;
         transform:translateX(50px);
     }
     to{
        opacity: 1;
        transform:translateX(0px);
     }
 }
 .toggle .line1{
     transform: rotate(-45deg) translate(-3.5px,4.5px);
 }
 .toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-3.5px,-4.5px);
}