@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(41, 41, 41);
    font-family: 'Montserrat';
}
 nav{
     display: flex;
     width: 100%;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     font-family:'Montserrat';
     background-color: rgb(188, 225, 224);
     
 }
 .logo{
     font-size: 35px;
 }
 .nav_links{
     display: flex;
     justify-content: space-around;
     width: 30%;
 }
 .nav_links a{
     text-decoration: none;
     font-size: 25px;
     color: rgb(41, 41, 41);
 }
 .nav_links a:hover{

    
    color: rgb(255, 255, 255);
}
 .nav_links li{
     list-style:none;
 }
 .burger{
     display: none;
}
 .burger div {
     width: 25px;
     height: 2px;
     background-color: rgb(41, 41, 41);
     margin: 4px;
     transition: all 0.3s ease;
 }
 .on{
    color:rgb(255, 255, 255);
}
.contact{
    border-radius: 20px;
    display: inline-block;
    width: 40%;
    height: 80vh;
    position: absolute;
    background-color: azure;
    padding: 50px;
    margin: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
p{
    font-size: 35px;
}
input{
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-family: 'Montserrat';
}
textarea{
    height: 45vh;
    width: 100%;
    font-family: 'Montserrat';
}
button{
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border-style: none;
    background-color:rgb(41, 41, 41) ;
    color: azure;
}

 @media screen and (max-width:768px){
     body{
         overflow-x: hidden;
     }
  
     .nav_links{
         position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         width: 50%;
         background-color:rgb(188, 225, 224);
         display: flex;
         flex-direction: column;
         align-items: center;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
        
     }
     .burger{
         display: block;
         cursor: pointer;
         
     }
     .nav_links li{
        opacity: 0;
     }
     .contact{
         width: 80%;
         z-index: -1;
     }
     textarea{
        height: 30vh;

     
 }
 @media screen and (max-width:375px){
     p{
         font-size: 15px;
     }
     input{
         height: 50px;
         font-size: 10px;
     }
    textarea{
        
        font-size: 10px;
        height: 25vh;
    }
    .contact{
        left:45%;
    }  
}
 .nav-active{
     transform: translateX(0%);
     
 }
 @keyframes navLinkFade{
     from{
         opacity: 0;
         transform:translateX(50px);
     }
     to{
        opacity: 1;
        transform:translateX(0px);
     }
 }
 .toggle .line1{
     transform: rotate(-45deg) translate(-3.5px,4.5px);
 }
 .toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-3.5px,-4.5px);
}
}